<div class="footer_top inner">
  <div class="inner_container">
    <div class="col left">
      <a href="" class="footer_logo">
        <img
          src="https://www.nexongames.co.kr/img/main/footer_logo.png
                "
          alt="넥슨게임즈로고"
        />
      </a>
    </div>
    <div class="col right">
      <ul class="footer_menu">
        <li>
          <a href="/nexongames/nexongames.php">넥슨게임즈</a>
          <ul>
            <li>
              <a href="/nexongames/nexongames.php">넥슨게임즈</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/game/v4.php">게임</a>
          <ul>
            <li><a href="/game/v4.php">마비노기</a></li>
            <li><a href="/game/sudden_attack.php">던전엔 파이터</a></li>
            <li><a href="/game/blue_archive.php">블루 아카이브</a></li>
          </ul>
        </li>
        <li>
          <a href="/adopt/culture.php">인재채용</a>
          <ul>
            <li><a href="/adopt/culture.php">기업문화</a></li>
            <li><a href="/bbs/board.php?bo_table=people">피플&amp;컬처</a></li>
            <li><a href="/adopt/hire.php">복지</a></li>
            <li><a href="/adopt/job.php">채용</a></li>
          </ul>
        </li>
        <li>
          <a href="/bbs/content.php?co_id=str">투자정보</a>
          <ul>
            <li><a href="/bbs/content.php?co_id=str">기업지배구조</a></li>
            <li><a href="/sub/stockPrice.php">주가정보</a></li>
            <li><a href="/bbs/content.php?co_id=finance">재무정보</a></li>
            <li><a href="/sub/announcement.php">공시/실적</a></li>
            <li><a href="/bbs/board.php?bo_table=audit_notice">공고</a></li>
          </ul>
        </li>
        <li>
          <a href="/bbs/board.php?bo_table=news">미디어</a>
          <ul>
            <li><a href="/bbs/board.php?bo_table=news">뉴스</a></li>
            <li><a href="/bbs/board.php?bo_table=media_event">보도자료</a></li>
            <li><a href="/bbs/board.php?bo_table=multimedia">멀티미디어</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="ft_wr inner">
  <div class="inner_container">
    <div class="copyright">
      <p>©NEXON Games All Rights Reserved.</p>
    </div>
    <div class="footer_family_site">
      <div class="dropup">
        <button class="dropbtn">관련사이트</button>
        <div class="dropup-content">
          <a href="http://company.nexon.com/" target="_blank">넥슨코리아</a>
          <a href="https://www.nexon-networks.com/" target="_blank">넥슨네트웍스</a>
          <a href="https://www.neople.co.kr" target="_blank">네오플</a>
          <a href="http://www.nexon-communications.com/" target="_blank">넥슨커뮤니케이션즈</a>
          <a href="http://www.nmp-corp.com/" target="_blank">엔미디어플랫폼</a>
          <a href="https://company.nexon.com/" target="_blank">넥슨스페이스</a>
        </div>
      </div>
    </div>
  </div>
</div>
<button type="button" id="top_btn">TOP<span class="sound_only">상단으로</span></button>
