// 사이트 컨텐츠 내용
:root {
  --swiper-theme-color: $white;
}

// .tpo_btn {
//   width: 49px;
//   height: 49px;
//   bottom: 60px;
//   right: 20px;
//   border-radius: 50px;
//   background: #191b1d;
//   color: #fff;
//   border: none;
//   font-weight: bold;
// }

.nextbtn {
  display: block;
  background-color: $primary;
  height: 150px;
  width: 400px;
  margin-top: 50px;
}

.slide-intro {
  .swiper-slide {
    position: relative;
    height: 350px;
    width: 300px;

    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   background-color: rgba(0, 0, 0, 0.14);
    // }
    &.swiper-slide-active {
      .text-area {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }

    img {
      object-position: 50% 100%;
    }
    //이거 안쓰는 영상돌아가는거 설명이랑 더보기 버튼
    // .text-area {
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, 0);
    //   width: 70%;
    //   max-width: 400px;
    //   opacity: 0;
    //   transition: all 0.5s;
    //   // .text-area__tit
    // &__tit {
    //   font-family: 'NEXON Lv2 Gothic';
    //   font-size: 4rem;
    //   color: $white;
    //   font-family: 'GmarketSansMedium';
    //   font-weight: $font-bold;
    // }
    //   &__cont {
    //     font-family: 'NEXON Lv2 Gothic';
    //     font-size: 2rem;
    //     color: $white;
    //   }
    //   &__goto {
    //     border-radius: 15px;
    //     font-family: 'NEXON Lv2 Gothic';
    //     display: inline-block;
    //     margin-top: 20px;
    //     padding: 10px 20px;
    //     background: $primary;
    //     color: $white;
    //   }
    // }

    img {
      height: 50vh;
    }
  }
  .swiper-pagination {
    display: none;
  }
}

// tablet
@media screen and (min-width: 600px) {
  .slide-intro .swiper-slide img {
    height: 70vh;
  }
}

// desktop
@media screen and (min-width: 1024px) {
  .slide-intro {
    .swiper-slide {
      img {
        height: 90vh;
      }
      .text-area {
        font-family: 'NEXON Lv2 Gothic';
        width: 100%;
        max-width: none;
        text-align: left;
      }
      .text-area__tit {
        font-family: 'NEXON Lv2 Gothic';
        font-size: 6rem;
      }
      .text-area__cont {
        font-family: 'NEXON Lv2 Gothic';
        font-size: 2rem;
      }
      .text-area__goto {
        margin-top: 30px;
      }
    }
    .swiper-pagination {
      display: block;
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}

.sec-visual {
  .sec-g__tit {
    font-weight: 100;
    position: relative;
    font-family: 'NEXON Lv2 Gothic';
    color: $black;
    font-size: calc(100vw * (56 / 767));
  }
}

.slide-studio {
  overflow: visible;
  width: 80%;
  margin-left: 0;
  @include mobileMore {
    width: 90%;
  }
  @include tabletMore {
    width: 100%;
    margin-left: auto;
  }
  .swiper-pagination {
    bottom: -50px;
  }
}

.sec-g__whowestit {
  font-family: 'Pretendard-Regular';
  margin-bottom: 20px;
}

//사진 세 개 있는거
.sec-introduce {
  .span {
    font-size: 2rem;
  }
  .sec-g__tit {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .sec-introduce {
    font-family: 'NEXON Lv2 Gothic';
    font-size: 1.8rem;
    font-weight: normal;
    color: $gray-90;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inner1 {
    position: relative;
    display: block;
    width: 100%;
    background: url(../../../resources/images/pattern/game/blue_archive_gif.gif) no-repeat 0 0;
    background-size: cover;
    color: $white;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.24);
    }
  }

  .inner2 {
    position: relative;
    display: block;
    width: 100%;
    background: url(../../../resources/images/pattern/game/dnf_gif.gif) no-repeat 0 0;
    background-size: cover;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.24);
    }
  }

  .inner3 {
    position: relative;
    color: $white;
    display: block;
    width: 100%;
    background: url(../../../resources/images/pattern/game/mabinogi_gif.gif) no-repeat 0 0;
    background-size: cover;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.24);
    }
  }

  .sec-g__tit {
    font-size: 3.2rem;
  }
  .sec-g__cont {
    position: relative;
    font-size: 1.5rem;
    color: $white;
  }
  .sec-g__shapcont {
    position: relative;
    font-size: 1.3rem;
    color: $white;
    margin-top: 5px;
  }
}

.sec-crafting {
  .crafting_games {
    background: $primary;
    background-size: 30px, 20px;
    font-family: 'NEXON Lv2 Gothic';
    color: $gray-50;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
  }

  .sec-ngame {
    font-family: 'NEXON Lv2 Gothic';
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
}

.gameup {
  font-family: 'NEXON Lv2 Gothic';
  font-size: 1.2em;
  font-weight: normal;
  display: flex;
  margin-left: 13px;
  margin-bottom: 5px;
  margin-top: 150px;
}

.seolmyeong {
  font-size: 3.2vw;
  font-weight: bold;
  color: $gray-70;
  text-align: left;
  margin-top: 60px;
}

.sec-g__newstit {
  margin-bottom: 20px;
}

.sec-g__whowetit {
  font-size: 2.4rem;
  margin-top: 10px;
  margin-bottom: 30px;
}
//about
.sec-seolmyeong {
  font-size: 1.5rem;
  .aboutimg {
    display: block;
    inline-size: 90%;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
  }
  .about1 {
    font-family: 'NEXON Lv2 Gothic';
    word-break: keep-all;
    width: 270px;
    margin-bottom: 10px;
  }

  .about2 {
    font-family: 'NEXON Lv2 Gothic';
    word-break: keep-all;
    width: 270px;
    margin-bottom: 10px;
  }

  .about3 {
    font-family: 'NEXON Lv2 Gothic';
    word-break: keep-all;
    width: 270px;
    margin-bottom: 30px;
  }
}

//이거 세로로 세 개 그거
.sec-studio {
  .sec-g__tsit {
    font-family: 'NEXON Lv2 Gothic';
    font-weight: normal;
    margin-bottom: 45px;
    font-size: 2.5rem;
  }
  .wearestit1 {
    display: block;
    margin-right: auto;
    width: 300px;
    word-break: keep-all;
    margin-top: 10px;
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .wearestit2 {
    display: block;
    margin-right: auto;
    width: 270px;
    word-break: keep-all;
    margin-top: 10px;
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .wearestit3 {
    display: block;
    margin-right: auto;
    width: 700px;
    word-break: keep-all;
    margin-top: 10px;
    font-size: 2rem;
    margin-bottom: 5px;
  }

  .wearescont {
    display: block;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: left;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: 'NEXON Lv2 Gothic';
    font-style: normal;
    color: $gray-50;
  }
  ::before {
    position: absolute;
    background-color: $primary;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    rotate: -55deg;
  }
}

//슬라이드인 뉴스
.sec-news {
  .newstits {
    font-family: 'NEXON Lv2 Gothic';
    font-weight: bold;
    color: $gray-90;
    display: block;
    text-align: left;
  }

  .date {
    color: $gray-50;
    font-family: 'NEXON Lv2 Gothic';
    display: block;
    text-align: left;
  }
}
//밑에 커리어 그거
.sec-careers {
  display: block;
  width: auto;
  height: 400px;
  object-fit: cover;

  .caree {
    font-size: 3rem;
    margin-top: 100px;
    margin-bottom: 10px;
  }

  .careecont {
    display: block;
    position: relative;
    background-origin: padding-box;
    left: 0;
    bottom: 5%;
    width: 170px;
    height: 35px;
    text-align: left;
    font-size: 1rem;
  }
  .careesq {
    position: absolute;
    left: 5%;
    height: 40px;
    width: 200px;
    padding-top: 4vw;
    padding-right: 5vw;
    background-color: rgb(161, 211, 230);
  }
}

.footer_top {
  position: relative;
  background-color: $gray-10;
  outline-width: 2px;
  outline-color: $gray-90;

  .footer_menu {
  }
}

.ft_wr {
  position: relative;
  display: fl;
  max-width: 100%;
  background-color: $gray-10;
}

.top_btn {
  border-radius: 50px;
  width: 59px;
  height: 59px;
  background: #191b1d;
  color: #fff;
  border: none;
  font-weight: bold;
  bottom: 100px;
  right: 30px;
}
