// 사이트 컨텐츠 내용
:root {
  --swiper-theme-color: $white;
}

// 전역 스타일
.swiper {
  width: 100%;
  height: 100%;
  .swiper-slide {
    font-family: 'NEXON Lv2 Gothic';
    text-align: center;
    font-size: 18px;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.swiper-button-next::before,
.swiper-button-prev::before {
  @include lineAwesome;
  font-size: 3rem;
  color: $black;
  opacity: 0.5;
}
.swiper-button-next::before {
  content: '\f138';
}
.swiper-button-prev::before {
  content: '\f137';
}

.tpo_btn {
  width: 49px;
  height: 49px;
  bottom: 60px;
  right: 20px;
  border-radius: 50px;
  background: #191b1d;
  color: #fff;
  border: none;
  font-weight: bold;
}

.slide-intro {
  .swiper-slide {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 10px;
      background-color: rgba(0, 0, 0, 0.14);
    }
    &.swiper-slide-active {
      .text-area {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }

    img {
      object-position: 50% 100%;
    }
    .text-area {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0);
      width: 70%;
      max-width: 400px;
      opacity: 0;
      transition: all 0.5s;
      // .text-area__tit
      &__tit {
        font-family: 'NEXON Lv2 Gothic';
        font-size: 4rem;
        color: $white;
        font-family: 'GmarketSansMedium';
        font-weight: $font-bold;
      }
      &__cont {
        font-family: 'NEXON Lv2 Gothic';
        font-size: 2rem;
        color: $white;
      }
      &__goto {
        border-radius: 15px;
        font-family: 'NEXON Lv2 Gothic';
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background: $primary;
        color: $white;
      }
    }
    img {
      height: 50vh;
    }
  }
  .swiper-pagination {
    display: none;
  }
}

// tablet
@media screen and (min-width: 600px) {
  .slide-intro .swiper-slide img {
    height: 70vh;
  }
}

// desktop
@media screen and (min-width: 1024px) {
  .slide-intro {
    .swiper-slide {
      img {
        height: 90vh;
      }
      .text-area {
        font-family: 'NEXON Lv2 Gothic';
        width: 100%;
        max-width: none;
        text-align: left;
      }
      .text-area__tit {
        font-family: 'NEXON Lv2 Gothic';
        font-size: 6rem;
      }
      .text-area__cont {
        font-family: 'NEXON Lv2 Gothic';
        font-size: 2rem;
      }
      .text-area__goto {
        margin-top: 30px;
      }
    }
    .swiper-pagination {
      display: block;
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}

.slide-studio {
  overflow: visible;
  width: 80%;
  margin-left: 0;
  @include mobileMore {
    width: 90%;
  }
  @include tabletMore {
    width: 100%;
    margin-left: auto;
  }
  .swiper-pagination {
    bottom: -50px;
  }
}
.sec-g__whowestit {
  font-family: 'Pretendard-Regular';
  margin-bottom: 20px;
}

.sec-archive {
  position: relative;
  display: block;
  background: url(../../../resources/images/pattern/game/gourmet_research_society.jpg) no-repeat 0 0;
  background-size: cover;
  color: $white;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }
}

.sec-df {
  position: relative;
  display: block;
  background: url(../../../resources/images/pattern/game/d&f_artwork.jpg) no-repeat 0 0;
  background-size: 250%;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }
}

.sec-mabi {
  position: relative;
  color: $white;
  display: block;
  background: url(../../../resources/images/pattern/game/mabinogi.jpg) no-repeat 0 0;
  background-size: 150%;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }
}
.sec-g__tit {
  font-size: 3.2rem;
}

.sec-g__cont {
  font-size: 1.5rem;
  color: $white;
}

.sec-g__shapcont {
  font-size: 1.2rem;
  color: $white;
  margin-top: 5px;
}

.crafting_games {
  font-family: 'NEXON Lv2 Gothic';
  font-size: 1.8rem;
  font-weight: normal;
  color: $gray-50;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ngame {
  font-family: 'NEXON Lv2 Gothic';
  font-size: 5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 255px;
}

.gameup {
  font-family: 'NEXON Lv2 Gothic';
  font-size: 1.2em;
  font-weight: normal;
  display: flex;
  margin-left: 13px;
  margin-bottom: 5px;
  margin-top: 150px;
}

.aboutimg {
  display: block;
  inline-size: 80%;
  margin-top: 60px;
  margin-bottom: 50px;
  margin-left: 50px;
}
.seolmyeong {
  font-size: 3.2vw;
  font-weight: bold;
  color: $gray-70;
  text-align: left;
  margin-top: 60px;
}

.sec-g__newstit {
  margin-bottom: 20px;
}

.sec-g__whowetit {
  font-size: 2.4rem;
  margin-top: 10px;
  margin-bottom: 30px;
}

.about1 {
  margin-bottom: 10px;
}

.about2 {
  margin-bottom: 10px;
}

.about3 {
  margin-bottom: 10px;
}

.wearestit1 {
  display: block;
  width: 300px;
  word-break: keep-all;
  margin-top: 10px;
  font-size: 2rem;
  margin-bottom: 5px;
}
.wearestit2 {
  display: block;
  width: 260px;
  word-break: keep-all;
  margin-top: 10px;
  font-size: 2rem;
  margin-bottom: 5px;
}
.wearestit3 {
  display: block;
  width: 700px;
  word-break: keep-all;
  margin-top: 10px;
  font-size: 2rem;
  margin-bottom: 5px;
}

.wearescont {
  display: block;
  margin-bottom: 30px;
  text-align: left;
  font-size: 1.2rem;
  font-weight: normal;
  font-style: normal;
  color: $gray-50;
}

.newstits {
  font-weight: bold;
  color: $gray-90;
  display: block;
}

.date {
  color: $gray-50;
  display: block;
}

.caree {
  font-size: 3rem;
  margin-top: 100px;
  margin-bottom: 10px;
}

.careeimg {
}

.careecont {
  display: block;
  position: relative;
  background-origin: padding-box;
  left: 0;
  bottom: 5%;
  width: 170px;
  height: 35px;
  text-align: left;
  font-size: 1rem;
}
.careesq {
  position: absolute;
  left: 5%;
  height: 40px;
  width: 200px;
  padding-top: 4vw;
  padding-right: 5vw;
  background-color: rgb(161, 211, 230);
}
